* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: "Montserrat", sans-serif;
  color: antiquewhite;
}

header > h1 > a {
  font-weight: 900;
  font-size: 48px;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

li,
a,
p,
button {
  font-size: 16px;
  text-decoration: none;
}

li {
  list-style: none;
}

.nav__links li {
  /* inline-block, para deixar lado a lado */
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgb(255, 99, 71);
}

button {
  padding: 9px 25px;
  background-color: rgb(255, 99, 71, 1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(255, 99, 71, 0.8);
}

.linha {
  border-bottom: 1px solid tomato;
  background-color: tomato;
  margin-bottom: 36px;
}

.palavra__destaque {
  font-weight: 900;
}

section {
  margin-bottom: 10%;
  margin-top: 5%;
}

h2 {
  margin-bottom: 12px;
  font-size: 32px;
}

#sobre-a-loja p {
  margin-bottom: 12px;
}

.container__flex {
  display: flex;
}

#sobre-a-loja img {
  max-width: 400px;
  margin-right: 24px;
}

.lista__produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.lista__produtos li {
  margin: 8% 5%;
}

.lista__produtos li:last-child {
  margin-right: 0;
}

.lista__produtos li img {
  width: 100%;
}

.lista__produtos li h3,
.price {
  margin: 10px 0;
}
.lista__produtos button {
  width: 100%;
}

.price {
  font-size: 26px;
  margin: 16px 0;
  display: block;
}
.price strong {
  color: tomato;
  margin-left: 10px;
}

.price del {
  color: lightslategray;
  font-size: 18px;
}

footer > .container {
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

footer .container,
footer,
footer p,
footer ul,
footer a {
  background-color: #212121;
}

footer li {
  list-style: none;
  margin-left: 16px;
}

footer li img {
  height: 32px;
  border-radius: 7px;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 90%;
  }

  header {
    flex-direction: column;
  }

  header h1 {
    padding-top: 15px;
  }

  .btn__menu,
  .btn__carrinho {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    padding-bottom: 16px;
  }

  .btn__menu button,
  .btn__carrinho button {
    padding: 16px;
    background-color: transparent;
    border: 2px solid sandybrown;
    border-radius: 10px;
  }

  .nav__links {
    display: none;
  }

  .nav__links {
    margin: 10px 0;
  }

  .container {
    display: block;
  }

  .lista__produtos {
    grid-template-columns: 1fr;
  }

  .lista__produtos li {
    margin: 0;
    padding-bottom: 50px;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    max-width: 90%;
  }

  .btn__menu {
    display: none;
  }

  #sobre-a-loja img {
  }
}
